.auth_signup-submit {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    margin: 30px 0;
    border-radius: 7px;
    border: 1px solid #D0D0D0;
    background: #D0D0D0;
    font-size: 1.1em;
    font-weight: 600;
    color: white;
  }
  
  .auth_signup-active {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    margin: 30px 0;
    border-radius: 7px;
    border: 1px solid rgb(173, 172, 177);
    background: rgb(37, 5, 219);
    font-size: 1.1em;
    font-weight: 600;
    color: white;
  }
  input{
    accent-color: purple;
  }
  
  .ck{
    background-color: #0f273d;;
    color: aliceblue;
  }
  
  .kc{
    background-color: red;
  }
  .log{
    height: 150px;
    width: 150px;
  }